.wrapper{
	background-color: white;
	height: 830px;
	width: 1440px;
	position: relative;
}
.welcome{
	background-color: #373e4a;
	height: 19px;
	width: 200px;
	position: absolute;
	padding: 40px;
	font-family: verdana;
	font-size: 20px;
	border-bottom: 1px solid white;
	color: white;
	
}
.portal{
	background-color: white;
	height: 80px;
	width: 1150px;
	position: absolute;
	left: 290px;
	right: 10px;
	z-index: 2;
	text-align:center;
}
.portal h1{
	text-align: center;
	color: #373e4a;
	font-weight: 200;
	font-family: verdana;

}
.sidebar{
	background-color: #373e4a;
	height: 730px;
	width: 280px;
	position: absolute;
	top: 100px;
	
}
.content{
	background-color: white;
	height: 650px;
	width: 1150px;
	position: absolute;
	left: 290px;
	top: 130px;	
}
.link {
	height: 20px;
	width: 220px;
	background-color: #373e4a;
	color: white;
	
	padding: 10px 20px 10px 40px;
	font-family: verdana;
	font-size: 15px;
	border-bottom: 1px solid #b3b3b3;
	text-decoration:none;
}
.link a{
	color: white;
	text-decoration: none;
}
.content span{
	margin-left: 10px;
	color: #373e4a;

	font-weight: 200;
	font-family: verdana;
	font-size: 25px;
}
hr {
    border: 0;
    height: 1px;
    background: #eeeeee;
    margin:0;
    
}